.header{
    background-color: rgba(56, 6, 33, 1);
    color: white;
}

.block{
    display: block;
}

.titulo{
    width: 680px;

}

.header{
    padding: 50px;
}

.margin-t-90{
    margin-top: 90px;
}

.margin-t-40{
    margin-top: 40px;
}

.margin-t-20{
    margin-top: 20px;
}

.margin-b-80{
    margin-bottom: 80px;
}
.margin-b-40{
    margin-bottom: 40px;
}

.color{
    color:rgba(210, 124, 44, 1);
}

.center{
    margin-left: calc(50% - 200px);
}

.center2{
    margin-left: calc(50% - 212px);
}

.center3{
    margin-left: calc(50% - 194px);
}

.font-40{
    font-size: 40px;
}

.font-32{
    font-size: 32px;
}

.font-w{
    font-weight: 200;
}

.font-24{
    font-size: 24px;
}

.font-size-64{
    font-size: 44px;
}

.font-80{
    font-size: 80px;
}

.button{
    border: 0px;
    padding: 18px;
    border-radius: 12px;
    background-color:  rgba(65, 170, 0, 1);
    color: white;
    font-size: 32px;
    width: 400px;
}

.vector{
    color: white;
}

.cards{
    box-shadow:  0px 0px 7px 1px #00000070;
    padding: 40px;
    margin: 50px;
    border-radius: 10px;
}

.squares{
    padding: 60px;
}

.icon{
    background-color: rgba(56, 6, 33, 1);
    color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    font-size: 40px;
}

.padding{
    padding: 5px;
}

.padding-80{
    padding: 80px;
}

.titulo-cards{
    font-weight: 800;
    color: rgba(56, 6, 33, 1);
}

.text-center{
    text-align: center;
}

.mege{
    color: rgba(0, 21, 132, 1);
}

.aprovados{
    background-color: rgba(56, 6, 33, 1);
    color: white;
    border-radius: 20px;
    padding: 40px;
}

.lista-aprovados{
    font-size: 32px;
}

.produto{
    background-color: rgba(0, 16, 102, 1);
    padding: 80px;
}

.oferta{
    background-color: rgba(7, 25, 123, 1);
    border: 1px solid rgba(0, 41, 255, 1);
    border-radius: 5px;
    width: 800px;
    margin: 0 auto;
    padding: 40px;
}

.preco{
    color: white;
    text-align: center;
    font-size: 26px;
    
}